# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=agrocollective
POSTGRES_USER=agro
POSTGRES_PASSWORD=

# InfluxDB
INFLUXDB_HOST=localhost
INFLUXDB_PORT=8086
INFLUXDB_TOKEN=
INFLUXDB_ORG=agrocollective
INFLUXDB_BUCKET=agrocollective

# MQTT
MQTT_HOST=localhost
MQTT_PORT=1883

# JWT
JWT_SECRET_KEY=

# API SiAR (token permanente, obtenido en la web del MAPA)
# https://servicio.mapa.gob.es/siarapi
SIAR_TOKEN=
