fastapi
uvicorn[standard]

sqlalchemy
psycopg2-binary
alembic

pydantic
pydantic-settings
pydantic[email]

influxdb-client

paho-mqtt

numpy
pandas
scikit-learn

python-dotenv

python-jose[cryptography]
passlib[bcrypt]

httpx

pytest
pytest-asyncio